<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barney-shop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/index.css')}}">
</head>
<body>
    <div class="wrapper">
        <!-- 導航欄 -->
        <div class="nav">
            <!-- 導航欄-品牌logo -->
            <div class="nav-brand-logo">
                <img src="/static/img/brand-logo.svg" alt="brand_logo">
            </div>
            <div class="nav-features">
                <a href="#">
                    <i>首頁</i>
                </a>
                <a href="#">
                    <i>關於我們</i>
                </a>
                <a href="#">
                    <i>產品類別</i>
                </a>
                <a href="#">
                    <i>登入</i>
                </a>
                <a href="#">
                    <i>購物車</i>
                </a>
                <a href="">
                    <img src="/static/img/nav-search.svg" alt="">
                </a>
            </div>
        </div>
        <!-- Hero section -->
        <div class="hero-section">
            <div class="hero-section-title">
                <h2>Barney</h2>
            </div>
            <div class="hero-section-txt">
                <p>購買智慧手錶、電腦的優質平台</p>
                <p>購物更便捷，服務更貼心，體驗前所未有的簡單</p>
            </div>
        </div>
        <!-- 產品介紹 -->
        <div class="product-list">
            <div class="product-title">
                <p>產品類別</p>
            </div>
            <div class="product-content">
                <div class="product-item">
                    <a href="#">
                        <img src="/static/img/apple_watch-612x612.jpg" alt="">
                        <div class="product-txt">
                            <h2>智慧手錶</h2>
                            <p>為健康的生活添加色彩</p>
                        </div>
                    </a>
                </div>
                <div class="product-item">
                    <a href="#">
                        <img src="/static/img/apple_iphone.jpg" alt="">
                        <div class="product-txt">
                            <h2>智慧手機</h2>
                            <p>精心設計、精美又耐用</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>    
        <!-- 聯絡我們 -->
        <div class="contact-us">
            <div class="contact-title">
                <h2>聯絡我們</h2>
            </div>
            <div class="contact-info-wrapper">
                <div class="contact-info">
                    <div class="contact-phone">
                        <i>
                            <img src="/static/img/phone-solid.svg" alt="">
                        </i>
                        <p>電話 : 0968-986-170</p>
                    </div>
                </div>
                <div class="contact-info">
                    <div class="contact-phone">
                        <i>
                            <img src="/static/img/location-dot-solid.svg" alt="">
                        </i>
                        <p>地址 : 台中市大雅區上楓里民族街147北一巷23號</p>
                    </div>
                </div>
                <div class="contact-info">
                    <div class="contact-phone">
                        <i>
                            <img src="/static/img/envelope-solid.svg" alt="">
                        </i>
                        <p>Mail : psg111444@gmail.com</p>
                    </div>
                </div>
                <div class="contact-info">
                    <div class="contact-phone">
                        <i>
                            <img src="/static/img/facebook-brands-solid.svg" alt="">
                        </i>
                        <p>臉書 : 余佳憲</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 頁尾 -->
        <div class="footer">
            <div class="footer-content">
                <p>Copyright (c) 2025 Barney-shop .網頁設計 by Barney</p>
            </div>
        </div>
    </div>    
</body>
</html>